@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.root {
  /* ### Primary */

  --light-cyan: hsl(193, 38%, 86%);
  --neon-green: hsl(150, 100%, 66%);

  /* ### Neutral */

  --grayish-blue: hsl(217, 19%, 38%);
  --dark-grayish-blue: hsl(217, 19%, 24%);
  --dark-blue: hsl(218, 23%, 16%);
}

body {
  background-color: hsl(218, 23%, 16%);
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 40px 10px 70px 10px;
}

.maindiv {
  background-color: hsl(217, 19%, 24%);
  padding: 50px 50px 100px 25px;
  position: relative;
  border-radius: 10px;
}

.maindiv img {
  margin: auto;
  align-items: center;
  padding-left: 10px;
}

p {
  color: hsl(150, 100%, 66%);
  font-size: 15px;
  margin-bottom: 20px;
}

h2 {
  color: hsl(193, 38%, 86%);
  margin-bottom: 40px;
}

.dice {
  background-color: hsl(150, 100%, 66%);
  height: 80px;
  width: 80px;
  justify-content: center;
  margin: auto;
  padding-top: 25px;
  position: absolute;
  border-radius: 50%;
  left: 150px;
  top: 370px;
  cursor: pointer;
}

.dice:hover {
  box-shadow: hsl(150, 100%, 66%) 0px 22px 70px 4px;
}
